:root {
  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --bg-terciary: #72002a;
  --text-primary: #ffffff;
  --text-secondary: #efefef;
  --text-terciary: #b0b0b0;
  --text-quaternary: #ffffff;
  --item-list1: #ffffff;
  --border-color: #333333;
  --border-color-secondary: #72002a;
  --card-bg: rgba(39, 39, 39, 0.9);
  --navbar-bg: #72002a;
  --focus-color: rgba(76, 0, 29, 0.5);
}

body {
  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: all 0.3s ease;
  background-image: url('/frontend/public/fondo.png');
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

/* Cuando estamos en modo oscuro, aplicamos la superposición oscura */
html[data-theme='dark'] body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.9); /* Fondo oscuro semitransparente */
  z-index: -1;
}

/* Cuando estamos en modo claro, aplicamos la superposición clara */
html[data-theme='light'] body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85); /* Fondo claro semitransparente */
  backdrop-filter: blur(3px); /* Aplicamos blur adicional para el tema claro */
  z-index: -1;
}

/* Cuando estamos en modo claro, cambiamos la imagen de fondo */
html[data-theme='light'] body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('/frontend/public/fondo.png');
  background-position: center;
  background-attachment: fixed;
}

.MuiPaper-root {
  background-color: var(--card-bg) !important;
  color: var(--text-primary) !important;
  backdrop-filter: blur(5px) !important;
}

/* Modificación para el fondo de las tarjetas */
.MuiPaper-root.MuiCard-root {
  background-color: var(--card-bg) !important;
  backdrop-filter: blur(5px) !important;
  border: 1px solid var(--border-color-secondary);
}

/* Ajustes específicos para el tema claro */
html[data-theme='light'] .MuiPaper-root.MuiCard-root {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(163, 0, 68, 0.1);
}

/* Añadir estilos específicos para el texto dentro de las tarjetas */
.MuiPaper-root.MuiCard-root .MuiTypography-root {
  color: var(--text-primary) !important;
}

.MuiAppBar-root {
  background-color: var(--navbar-bg) !important;
  color: var(--text-quaternary) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
}

.MuiButtonBase-root {
  background-color: var(--bg-terciary) !important;
  color: var(--text-quaternary) !important;
}

.MuiInputBase-root {
  background-color: var(--bg-secondary) !important;
  color: var(--text-primary) !important;
}

.MuiInputLabel-root {
  color: var(--text-secondary) !important;
}

.MuiInputLabel-root:focus {
  color: var(--bg-terciary) !important;
}

.MuiOutlinedInput-root {
  background-color: var(--bg-secondary) !important;
  color: var(--text-primary) !important;
  border: 1px solid var(--border-color-secondary) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(var(--border-color-secondary), 0.5) !important;
}

html[data-theme='light'] .MuiOutlinedInput-notchedOutline {
  border-color: rgba(163, 0, 68, 0.3) !important;
}

.MuiListItemText-root {
  color: var(--text-primary) !important;
  transition: color 0.3s ease;
}

