:root {
  --bg-primary: #242424;
  --bg-secondary: #1e1e1e;
  --bg-terciary: #72002a;
  --text-primary: #9f9f9f;
  --text-secondary: #ffffff;
  --text-terciary: #7b7b7b;
  --text-quaternary: #ffffff;
  --item-list1: #22000c;
  --border-color: #333333;
  --border-color-secondary: #72002a;
  --card-bg: rgba(37, 37, 37, 0.85); 
  --navbar-bg: #72002a;
  --focus-color: #4c001d00;
}

body {
  color: var(--text-terciary);
  transition: all 0.3s ease;
}

.MuiPaper-root {
  background-color: var(--card-bg) !important;
  color: var(--text-terciary) !important;
  backdrop-filter: blur(5px) !important; /* Efecto de desenfoque para mejorar legibilidad */
}

/* Modificación para el fondo de las tarjetas */
.MuiPaper-root.MuiCard-root {
  background-color: rgba(255, 255, 255, 0.85) !important; /* Fondo oscuro con transparencia */
  backdrop-filter: blur(5px) !important;
}

/* Añadir estilos específicos para el texto dentro de las tarjetas */
.MuiPaper-root.MuiCard-root .MuiTypography-root {
  color: #000000 !important; /* Negro para mejor contraste en tarjetas claras */
}

.MuiAppBar-root {
  background-color: var(--navbar-bg) !important;
  color: var(--text-terciary) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important; /* Añadir sombra para destacar */
}

.MuiButtonBase-root {
  background-color: var(--bg-terciary) !important;
  color: var(--text-quaternary) !important;
  border: 0px solid var(--border-color) !important;
}

.MuiInputBase-root {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  border: 0px solid var(--border-color) !important;
}

.MuiInputLabel-root {
  color: var(--text-secondary) !important;
  transition: color 0.3s ease;
  &:focus {
    color: var(--focus-color) !important;
  }
}

.MuiOutlinedInput-root {
  background-color: var(--bg-primary) !important;
  color: var(--text-terciary) !important;
  border: 0.5cap solid var(--border-color-secondary) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--focus-color) !important;
  transition: border-color 0.3s ease !important;
}

.MuiTypography-root {
  color: var(--text-quaternary) !important;
  transition: color 0.3s ease;
}

.MuiBox-root {
backdrop-filter: blur(5px) !important; 
}

.MuiListItemText-root {
  color: var(--item-list1) !important;
  transition: color 0.3s ease;
}